
@{
    ViewBag.Title = "SignIn";
}

    <div style="text-align:center">
        <h2>Choose Your Roll</h2>
        <br />
        <input type="button" title="Admin" value="Admin" onclick="location.href='@Url.Action("AdminLogin","LoginPage")'" /> |
        <input type="button" title="Customer" value="Customer" onclick="location.href='@Url.Action("CustomerLogin","LoginPage")'" />
    </div>