@model AtmManagement.Models.Customers

@{
    ViewBag.Title = "InvalidCustomer";
}

<div style="margin-top:200px">
    <h2 style="text-align:center">Invalid Customer Id</h2>
</div>
<div style="text-align:start"><h4>@Html.ActionLink("Back", "CustomerSection",Model)</h4></div>

