<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div style="margin-top:200px">
        <h2 style="text-align:center">Invalid Operation Customer Can't Delete</h2>
        <h4 style="text-align:center">for delete operation customer balance should be zero.</h4>
    </div>
    <div style="text-align:start"><h4>@Html.ActionLink("Back to List", "AdminSection")</h4></div>
</body>
</html>